.calendar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calendar-title {

}
.calendar-button {
    width: 100%;
    background-color: #C7EDE1;
    font-size: 24px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.calendar-list {

}
.calendar-item {

}